@model List<LetMePutSomeAsyncInIt.CoreFinal.Models.Album>

@{
    ViewBag.Title = "Albums";
}

<h2>Albums</h2>

<table class="table">
    <thead>
        <tr>
            <th>Link</th>
            <th>ID</th>
            <th>User ID</th>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var album in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Album" asp-action="GetByID" asp-route-id="@album.ID">View</a>
                </td>
                <td>@album.ID</td>
                <td>@album.UserID</td>
                <td>@album.Title</td>
            </tr>
        }
    </tbody>
</table>